body,html{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#content-wrap {
    padding-top: 4rem;
    min-height: 100vh;
    padding-bottom: 4rem;
}

#footer {
    font-size: small;
    font-style: italic;
    margin-top: -2rem;
}

.tw-4 {
    width: 4rem;
}

.tw-10 {
    width: 10rem;
}

.event-btn:hover {
    background-color: gray;
}

.bh-1 {
    height: 3rem;
}

.week-btn {
    background-color: rgb(76, 190, 72);
    border-color: lightgray;
    color: black;
    font-weight: bold;
}

.week-btn:focus{
    box-shadow: 0 0 0 0.2rem  rgba(179, 204, 178, 1) !important;
}

.table-fix-head {
    position: sticky;
    top: 0rem;
    background-color:  rgb(76, 190, 72);
    color: black;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.active-event {
    background-color: gray;
}

.navbar{
    background-color: rgb(5, 138, 0);
}

.navbar-brand, .navbar-brand:hover{
    color: white;
    font-size: larger;
    font-weight: bold;
}

#navLeft{
    color:white;
    font-size: large;
    vertical-align: sub;
}

#navLeft:hover{
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
}


#navLeft:active{
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;  
}

#navRight{
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 0.1rem solid white;
    margin-left: 0.5rem;
}

#navRight:hover{
    color: white;
    font-weight: bold;
    background-color: rgb(85, 85, 85);
    transition: background-color 0.0s linear;
}

#navRight:active{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border: 0.1rem solid  rgba(255, 255, 255, 0.8);
}

#navRightName{
    position: relative;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 0.1rem solid white;
}

/*
#navRightName:hover span {
    display:none;
}
*/

#navRightName:hover{
    background-color: rgb(85, 85, 85);
    transition: 0.5s linear;
}

#navRightName:hover:before {
    content:"Name:";
    text-decoration: underline;
    padding-right: 0.3rem;
}
   

.alert{
    display: none;
}

.form-group{
    align-items: center;
}

.expiration_time {
    margin-bottom: 0;
    color:black;
    font-size: large;
    font-weight: bold;
    align-items: center;
    padding-left: 0;
}

.expiration_time:hover{
    cursor: pointer;
}

.custom-control-label{
    align-items: center;
    font-style: italic;
}

.custom-control-label:hover{
    cursor: pointer;
}

.custom-control-input:hover~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(179, 204, 178, 0.5) !important;
}

.custom-control-input:focus~.custom-control-label::before {
    border-color: silver !important;
    box-shadow: 0 0 0 0.2rem  rgba(179, 204, 178, 0.5) !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color:rgb(5, 138, 0) !important;
    background-color: rgb(5, 138, 0) !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    border-color: silver !important;
    background-color: rgba(179, 204, 178, 0.5) !important;
    
}

#getShareLink{
    background-color: rgb(5, 138, 0) !important;
    border-color: rgb(5, 138, 0) !important;
}

#getShareLink:hover{
    background-color: rgb(4, 109, 0) !important;
}

#getShareLink:focus{
    box-shadow: 0 0 0 0.2rem  rgba(179, 204, 178, 1) !important;
}

#OK_button{
    background-color: rgb(5, 138, 0) !important;
    border-color: rgb(5, 138, 0) !important;
}

#OK_button:hover{
    background-color: rgb(4, 109, 0) !important;
}

#OK_button:focus{
    box-shadow: 0 0 0 0.2rem  rgba(179, 204, 178, 1) !important;
}

#weekNumber{
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 0rem;
}

#scrollBar{
    overflow-y: scroll; 
    left: 15%;
    right: 15%;
    position:absolute;
    top: 7.5rem;
    bottom: 3rem;
    border-width: 0.1rem;
    border-style:solid;
    border-color:gray;
}

#tableBordered{
    margin-bottom: 0;
    margin-top: 0;
    border: none;
}

#sharedPersonView{
    position: absolute; 
    text-align: right; 
    width:100%; 
    padding-right: 2rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}