#content-wrap {
    padding-top: 4rem;
    min-height: 100vh;
    padding-bottom: 4rem;
}

#footer {
    height: 2.5rem;
    margin-top: -3rem;
}

.tw-4 {
    width: 4rem;
}

.tw-10 {
    width: 10rem;
}

.event-btn:hover {
    background-color: gray;
}

.bh-1 {
    height: 3rem;
}

.week-btn {
    background-color: gray;
}

.table-fix-head {
    position: sticky;
    top: 3rem;
    background-color: white;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.active-event {
    background-color: gray;
}