<h1>Create new event</h1>

<form method="post" action="{{ url_for('week.get_week', year=year_number, week = week_number) }}">
    <div class="form-group row justify-content-center">
        <input id="event-title" type="text" name="title" class="form-control col-5" value="{{ event.title }}" required placeholder="Title" autocomplete="off" autofocus>
    </div>
    <div class="form-group row justify-content-center">
        <input id="description"  type="text" name="description" class="form-control col-5" value="{{ event.description }}" placeholder="Description" autocomplete="off">
    </div>
    <div class="form-group row justify-content-center">
        <input id="location" type="text" name="location" class="form-control col-5" value="{{ event.location }}" placeholder="Location" autocomplete="off">
    </div>
    <div class="form-group row justify-content-center">
        <label id="start" for="start_date" class="col-1">Start:</label>
        <input type="date" name="start_date" class="form-control col-2 mr-2" value={{ start_date }} required id="start_date" readonly>
        <input type="time" name="start_time" class="form-control col-2" value={{ start_time }} required id="start_time">
    </div>
    <div class="form-group row justify-content-center">
        <label id="end" for="end_date" class="col-1">End:</label>
        <input type="date" name="end_date" class="form-control col-2 mr-2" value={{ end_date }} required id="end_date" readonly>
        <input type="time" name="end_time" class="form-control col-2" value={{ end_time }} required id="end_time">
    </div>

    {% set checked = "checked" if event.event_type == 1 else "" %}
    <div id="business-hour" class="custom-control custom-switch pt-1">
        <input class="custom-control-input" type="checkbox" name="business_hour" {{ checked }} id="businesshour">
        <label class="custom-control-label" for="businesshour">
            Business hour
        </label>
    </div>

    <div class="form-group row justify-content-center">
        <input type="text" name="guest-name" class="form-control col-5" id="guestname" placeholder="Guest name here" value="{{ event.guest_name }}">
    </div>
    <input value={{ event.id if event else -1 }} name="event-id" hidden/>

    <input id="saveButton" type="submit" class="btn btn-primary" name="action" value="Save"/>
    <input id="delButton" type="submit" class="btn btn-primary" name="action" value="Delete" onclick="del()"/>

    <div class="mt-3 text-danger">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "danger" %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</form>
