{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% with week_number= week_number-1 %}
                {% include 'week-button.html' %}
            {% endwith %}
            <h2 class="col-auto">Week - {{ week_number }}, {{ year_number }}</h2>
            {% with week_number=week_number+1 %}
                {% include 'week-button.html' %}
            {% endwith %}
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="align-middle table-fix-head">Hour</th>
                {% for day in day_of_week %}
                <th scope="col" class="table-fix-head">
                    <div>
                        {{ day.date }}
                    </div>
                    <div>
                        {{ day.name }}
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for n in range(24) %}
                <tr>
                    <th scope="row" class="tw-4">{{ n }}:00</th>
                    {% for m in range(7) %}
                    <td id="btn-{{ n }}{{ m }}"class="tw-10 p-0">
                        <form method="post" action="{{ url_for('event_modification.event_mod') }}">
                            <input type="submit" value="" class="w-100 btn event-btn" name="btn-{{ n }}{{ m }}" style="height:3rem"/>
                            <input value={{ week_number }} name="week_num" hidden/>
                            <input value={{ n }} name="n" hidden/>
                            <input value={{ m }} name="m" hidden/>
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
