{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    {% if shared_calendar %}
    <h1>You are viewing {{ shared_user.username }}'s calendar!</h1>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            {% with week_number=week_number-1, text="<" %}
                {%if shared_calendar %}
                    {% include 'shared-week-button.html' %}
                {% else %}
                    {% include 'week-button.html' %}
                {% endif %}
            {% endwith %}
            <h2 class="col-auto">Week - {{ week_number }}, {{ year_number }}</h2>
            {% with week_number=week_number+1, text=">" %}
                {%if shared_calendar %}
                    {% include 'shared-week-button.html' %}
                {% else %}
                    {% include 'week-button.html' %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="align-middle table-fix-head">H</th>
                {% for day in days_of_week %}
                <th scope="col" class="table-fix-head">
                    <div>
                        {{ day.name }}
                    </div>
                    <div>
                        {{ day.date }}
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in range(24) %}
                <tr>
                    <th scope="row" class="tw-4">{{ hour }}:00</th>
                    {% for day in range(7) %}
                    <td id="btn-{{ hour }}{{ day }}"class="tw-10 p-0">
                        <form method="post" action="{{ url_for('event_modification.event_mod') }}">
                            {% set current_event = { "type": "" } %}
                            {% for event in events if event.day == day and hour in event.hour %}
                                {% if current_event.update(event) %}{% endif %}
                            {% endfor %}
                            <input type="submit" value="{{ current_event.title }}" class="w-100 btn event-btn bh-1 {{ current_event.type }}" name="btn-{{ hour }}{{ day }}"/>
                            <input value={{ year_number }} name="year" hidden/>
                            <input value={{ week_number }} name="week" hidden/>
                            <input value={{ hour }} name="hour" hidden/>
                            <input value={{ day }} name="day" hidden/>
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
