{% extends "base.html" %}

{% block title %}
    {% if event.title==null %}
        Event
    {% else %}
        Event ({{event.title}})
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ shared_user_name }}'s event</h1>

    <form method="post" action="{{ url_for('register_guest.post', token = token) }}">
        <div class="form-group row justify-content-center">
            <input id="event-title" type="text" name="title" class="form-control col-5" value="{{ event.title }}" required placeholder="Title" readonly disabled>
        </div>
        <div class="form-group row justify-content-center">
            <input type="text" name="description" class="form-control col-5" id="description" value="{{ event.description }}" placeholder="Description" readonly disabled>
        </div>
        <div class="form-group row justify-content-center">
            <input type="text" name="location" class="form-control col-5" id="location" value="{{ event.location }}" placeholder="Location" readonly disabled>
        </div>
        <div class="form-group row justify-content-center">
            <label id="start" for="start_date" class="col-1">Start:</label>
            <input type="date" name="start_date" class="form-control col-2 mr-2" value={{ start_date }} required id="start_date" readonly disabled>
            <input type="time" name="start_time" class="form-control col-2" value={{ start_time }} required id="start_time" readonly disabled>
        </div>
        <div class="form-group row justify-content-center">
            <label id="end" for="end_date" class="col-1">End:</label>
            <input type="date" name="end_date" class="form-control col-2 mr-2" value={{ end_date }} required id="end_date" readonly disabled>
            <input type="time" name="end_time" class="form-control col-2" value={{ end_time }} required id="end_time" readonly disabled>
        </div>

        {% set checked = "checked" if event.event_type == 1 else "" %}
        <div id="business-hour" class="custom-control custom-switch pt-1">
            <input class="custom-control-input" type="checkbox" onclick="return false;" name="business_hour" {{ checked }} id="businesshour" readonly disabled>
            <label class="custom-control-label" for="businesshour">
                Business hour
            </label>
        </div>

        <div class="form-group row justify-content-center">
            <input id="guestname" type="text" name="guest-name" class="form-control col-5" placeholder="Your name here" value="{{ event.guest_name }}" {{ "readonly" if event.guest_name else ""}} autocomplete="off">
        </div>
        <input value={{ event.id if event else -1 }} name="event-id" hidden/>

        <input id="okButton" type="submit" class="btn btn-primary" name="action" value="OK"/>
    </form>
{% endblock %}
