{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Create new event</h1>
    
    <form method="post" action="{{ url_for('week.get_week', week_num = week_num) }}">
        <input type="text" name="title" placeholder="Title"></input>
        <br>
        <input type="text" name="description" placeholder="Description"></input>
        <br>
        <input type="text" name="location" placeholder="Location"></input>
        <br>
        Start
        <input type="date" name="start_date" value={{ start_date }}></input>
        <input type="time" name="start_time" value={{ start_time }}></input>
        <br>
        End
        <input type="date" name="end_date" value={{ start_date }}></input>
        <input type="time" name="end_time" value={{ end_time }}></input>
        <br>
        <div class="control-group">
            <div class="controls">
                <label><input type="checkbox" name="business_hour"/> Fogadóóra</label>
            </div>
        </div>
        <br>
        <input type="submit" value="Mentés"/>
    </form>
{% endblock %}
